<li class='card' data-id={{id}}>
  <div class='card__image-container'>
    <img loading='lazy' class='card__image' src={{poster}} alt='film poster' />
  </div>
  <h2 class='card__title'>{{title}}</h2>
  <span class='card__info'>{{genresOfMovie}} | {{releaseYear}}</span>
  <div class='card__vote-container'>
    <span class='card__vote'>{{vote_average}}</span>
  </div>
</li>