<li class='card'>
  <div class='card__image-container'>
    <img class='card__image' src={{image}} alt='film poster' />
  </div>
  <h2 class='card__title'>{{title}}</h2>
  <span class='card__info'>{{genre}} | {{year}}</span>
  <div class='card__vote-container'>
    <span class='card__vote'>{{vote}}</span>
  </div>
</li>