<div class='film' data-id={{id}}>
  <div class='film__image-wrapper'>
    <img class='film__image' src={{poster}} alt='Film poster' />
  </div>
  <div class='film__data-wrapper'>
    <h2 class='film__title'>{{title}}</h2>
    <ul class='film__table'>
      <li class='film__entry'>
        <p class='film__key'>Vote / Votes</p>
        <p class='film__value'>
          <span class='film__accent'>{{vote}}</span>
          /
          {{votes}}
        </p>
      </li>
      <li class='film__entry'>
        <p class='film__key'>Popularity</p>
        <p class='film__value'>{{popularity}}</p>
      </li>
      <li class='film__entry'>
        <p class='film__key'>Original Title</p>
        <p class='film__value'>{{originalTitle}}</p>
      </li>
      <li class='film__entry'>
        <p class='film__key'>Genre</p>
        <p class='film__value'>{{genre}}</p>
      </li>
      <li class='film__entry'>
        <p class='film__key'>Year</p>
        <p class='film__value'>{{year}}</p>
      </li>
    </ul>
    <div>
      <h3 class='film__subtitle'>About</h3>
      <p class='film__overview'>{{overview}}</p>
    </div>
    <ul class='film__btn-list'>
      <li>
        <button class='film__button film__button--watch' type='button'>add to watched</button>
      </li>
      <li>
        <button class='film__button film__button--queue' type='button'>add to queue</button>
      </li>
    </ul>
  </div>
</div>