<div class='our-team-container container'>
  <h2 class='our-team-title'>Our team</h2>

  <ul class='our-team-list'>
    <li class='our-team-list-item'>
      <img
        loading='lazy'
        class='our-team-img'
        src={{photo1}}
        alt='Frontend Developer'
        width='100'
      />
      <div class='our-team-div'>
        <h3 class='section-title-list'>Роман Нікітенко</h3>
        <p class='our-team-text'>Frontend Developer</p>
        <ul class='social-list'>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.instagram.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathInstagram}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.facebook.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathFacebook}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://ru.linkedin.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathLinkedin}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://github.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathGithub}}></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class='our-team-list-item'>
      <img
        loading='lazy'
        class='our-team-img'
        src={{photo2}}
        alt='Frontend Developer'
        width='100'
      />
      <div class='our-team-div'>
        <h3 class='section-title-list'>Єлизавета Лук'янова</h3>
        <p class='our-team-text'>Frontend Developer</p>
        <ul class='social-list'>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.instagram.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathInstagram}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.facebook.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathFacebook}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.linkedin.com/in/yelyzaveta-mieshkova-216482190/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathLinkedin}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://github.com/YelyzavetaLukianova'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathGithub}}></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class='our-team-list-item'>
      <img
        loading='lazy'
        class='our-team-img'
        src={{photo3}}
        alt='Frontend Developer'
        width='100'
      />
      <div class='our-team-div'>
        <h3 class='section-title-list'>Олександр Шепель</h3>
        <p class='our-team-text'>Frontend Developer</p>
        <ul class='social-list'>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.instagram.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathInstagram}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.facebook.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathFacebook}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://ru.linkedin.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathLinkedin}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://github.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathGithub}}></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class='our-team-list-item'>
      <img
        loading='lazy'
        class='our-team-img'
        src={{photo4}}
        alt='Frontend Developer'
        width='100'
      />
      <div class='our-team-div'>
        <h3 class='section-title-list'>Юрій Грацонь</h3>
        <p class='our-team-text'>Frontend Developer</p>
        <ul class='social-list'>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.instagram.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathInstagram}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.facebook.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathFacebook}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://ru.linkedin.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathLinkedin}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://github.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathGithub}}></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class='our-team-list-item'>
      <img
        loading='lazy'
        class='our-team-img'
        src={{photo5}}
        alt='Frontend Developer'
        width='100'
      />
      <div class='our-team-div'>
        <h3 class='section-title-list'>Андрій Ясентюк</h3>
        <p class='our-team-text'>Frontend Developer</p>
        <ul class='social-list'>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.instagram.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathInstagram}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.facebook.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathFacebook}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://ru.linkedin.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathLinkedin}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://github.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathGithub}}></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class='our-team-list-item'>
      <img loading='lazy' class='our-team-img' src={{photo6}} alt='Tech-Lead' width='100' />
      <div class='our-team-div'>
        <h3 class='section-title-list'>Олександр Мирвода</h3>
        <p class='our-team-text'>Team-Lead</p>
        <ul class='social-list'>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.instagram.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathInstagram}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.facebook.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathFacebook}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://ru.linkedin.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathLinkedin}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://github.com/Oleksandr-Myrvoda'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathGithub}}></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class='our-team-list-item'>
      <img loading='lazy' class='our-team-img' src={{photo7}} alt='SCRUM-master' width='100' />
      <div class='our-team-div'>
        <h3 class='section-title-list'>Валеріан Риков</h3>
        <p class='our-team-text'>SCRUM-master</p>
        <ul class='social-list'>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.instagram.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathInstagram}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://www.facebook.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathFacebook}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://ru.linkedin.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathLinkedin}}></use>
              </svg></a>
          </li>
          <li class='social-list-item'>
            <a
              class='social-list-link'
              href='https://github.com/'
              target='_blank'
              rel='noopener noreferrer'
            >
              <svg class='social-list-icon' width='15' height='15'>
                <use href={{pathGithub}}></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>

</div>